{% extends 'base.html' %}
{% block title %}IPData - MundoDevOps{% endblock %}
{% block body %}
    <div class="container">
        <br>
        <br>
        <h1 align='center'>IPData - uma API Django</h1>
        <br>
        <br>
        <body>
            <h1 align='center'>Histórico de buscas</h1>
            <table border = "1" cellpadding = "5" cellspacing = "5" style="width: 100%">
                <td align='center'><b>ID</b></td>
                <td align='center'><b>IP</b></td>
                <td align='center'><b>Data de busca</b></td>
                <td align='center'><b>País</b></td>
                <td align='center'><b>Estado</b></td>
                <td align='center'><b>Cidade</b></td>
                {% for data in log_list%}
                <tr>
                    <td align='center'>{{data.id}}</td>
                    <td align='center'>{{data.ip}}</td>
                    <td align='center'>{{data.pub_date}}</td>
                    <td align='center'>{{data.pais}}</td>
                    <td align='center'>{{data.estado}}</td>
                    <td align='center'>{{data.cidade}}</td>
                </tr>
                {% endfor %}
              <caption>Últimos endereços IP pesquisados</caption>
            </table>
            <a class="btn btn-info" href="{% url 'index' %}">Voltar a página inicial</a>
        </body>
    {% endblock %}
